# ==========================================================
# Copyright (c) 2026 ArtistBots 
# All Rights Reserved.
#
# Project      : ArtistBots API Telegram Music Bot
# Powered By   : Artist
# Type         : API Based Telegram Music Bot
#
# Bot          : @ArtistApibot
# Channel      : https://t.me/artistbots
# GitHub       : https://github.com/elevenyts/ArtistMusic
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================

# ==========================================================
# Optional 

MONGO_DB_URI=
API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
# ==========================================================

SHRUTI_API_URL=https://api01.shrutibots.site
SHRUTI_API_KEY=
BOT_TOKEN=
LOGGER_ID=
OWNER_ID=
STRING_SESSION=
